{% extends "base.html" %}

{% block title %}
Error
{% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="text-danger">Oops! <i class="fa-solid fa-bug"></i></h1>
    <h4 class="text-muted">{{ top }}</h4>
    <p class="lead fw-bold">{{ bottom }}</p>
    <img alt="{{ top }}" class="border img-fluid my-4 w-25" 
         src="https://cdn0.iconfinder.com/data/icons/cyber-crime-27/32/404_error_website_oops_internet-512.png" 
         title="{{ top }}">
    <br>
    <a href="/" class="btn btn-primary">Go Back Home</a>
</div>
{% endblock %}
